<%= bootstrap_form_for :document, label_errors: true, html: { multipart: true } do |f| %>
  <div class="form-group">
    <%= f.number_field :loan_amount, prepend: "$", required: true, class: 'form-control', label_class: "required" %>
  </div>
  <div class="form-group">
    <%= f.number_field :down_payment, prepend: "$", required: true, label_class: "required" %>
  </div>
  <div class="form-group">
    <%= f.number_field :interest_rate, append: "%", required: true, label_class: "required" %>
  </div>
  <div class="form-group">
    <%= f.submit "Submit" %>
  </div>
<% end %>