<div class="col-md-6 col-md-offset-3">
  <h2>Your Documents</h2>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Loan Amount</th>
        <th>Down Payment</th>
        <th>Interest Rate</th>
        <th>View</th>
      </tr>
    </thead>
    <tbody>
      <% @documents.each do |doc| %>
      <tr>
        <th scope="row"><%= doc.id %></th>
        <td>$<%= doc.loan_amount %></td>
        <td>$<%= doc.down_payment %></td>
        <td>%<%= doc.interest_rate %></td>
        <td><%= link_to 'View', doc.file.url, :target => "_blank", class: 'btn btn-primary' %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div class="container">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#formModal">Create New</button>

    <!-- Modal -->
    <div class="modal fade" id="formModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            <% if @document.errors.any? %>
              <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                <% @document.errors.messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </div>
            <% end %>

            <h4 class="modal-title" id="myModalLabel">Create a document</h4>
          </div>
          <div class="modal-body">
            <%= form_for :document, html: { multipart: true } do |f| %>
              <div class="form-group">
                <%= f.label "Loan Amount" %>
                <%= f.text_field :loan_amount, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label "Down Payment" %>
                <%= f.text_field :down_payment, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label "Interest Rate" %>
                <%= f.text_field :interest_rate, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.submit "Submit", class: 'btn btn-primary' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>